###   Sales of products in four different regions is tabulated for males and females.
### Find if male-female buyer rations are similar across regions.

Assume Null Hypothesis as Ho: Male-female buyer rations are similar across regions (does not vary and are not related). Alternate Hypothesis as Ha: Male-female buyer rations are NOT similar across regions (does vary and somewhat/significantly related)

Chi Square test of independence for categorical data

In [2]:
### importing the required libraries

import pandas as pd 
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [3]:
### loading the data set

data = pd.read_csv("BuyerRatio (2).csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
data = data.drop('Observed Values', axis=1)
data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [14]:
stat,p,dof,expected=stats.chi2_contingency(data)

In [6]:
alpha =0.05

In [7]:
print("Chi Square test value is ", p)
if p<=alpha:
    print("Reject Null hypothesis")
else:
    print("Null hypothesis holds true")

Chi Square test value is  0.6603094907091882
Null hypothesis holds true